* {
  -webkit-font-smoothing: antialiased;
}

.trimmedTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trimmedText {
  -webkit-line-clamp: 4;
}
